<!doctype html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>OrangeFox Updates</title>
    <style>
        img {
            border: none;
            max-width: 100%;
        }

        body {
            font-family: sans-serif;
        }

        .content {
            box-sizing: border-box;
            max-width: 580px;
            color: #000000;
        }

        .content[data-theme='dark'] {
            box-sizing: border-box;
            max-width: 580px;
            color: #ffffff;
        }

        .big-title {
            font-size: 32px;
            font-weight: bold;
        }

        .small-title {
            font-size: 24px;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="content">
        <div style="padding: 20px;">
            <img width="20%" alt="OrangeFox Logo" src="https://orangefox.download/images/logo.png">
            <p class="big-title">OrangeFox Recovery</p>
            New OrangeFox Recovery updates for {{ device_name }}!<br><br>
            {% for update in updates %}
                Version: {{ update.version }}<br>
                Channel: {{ update.type }}<br><br>
            {% endfor %}

            <a href="{{ download_url }}" class="small-title">Download</p>
        </div>
    </div>
</body>

</html>
